@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

blockquote[xml|lang]{
	font-style: italic;
}

blockquote[xml|lang] em{
	font-style: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
}

/* Dedication */
section[epub|type~="dedication"]{
	margin-top: 20vh;
}

section[epub|type~="dedication"] > p:first-of-type{
	text-align: center;
}

section[epub|type~="dedication"] > p:last-of-type{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	max-width: 80%;
	text-align: justify;
	text-indent: 0;
}

section[epub|type~="dedication"] footer p:first-of-type{
	margin-right: 10vw;
}

section[epub|type~="dedication"] footer p:last-of-type{
	margin-left: 10vw;
	text-align: initial;
	text-indent: 0;
}
/* End dedication */

/* Begin verse */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* End verse */

/* Begin figures */
figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
	text-align: center;
}

figcaption p + p{
	text-indent: 0;
}

figure.full-page{
	break-after: page;
	break-before: page;
}
/* End figures */

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
